<div class="container successbox align-items-center">
  <div class="row successbox__msg">
    <div class="text-center">
      <h3 class="successbox__msg__text">
        Deleted
      </h3>
      <a class="btn btn-secondary sb-btn" href="/">戻る</a>
    </div>
  </div>
</div>