<div class="container-fluid d-flex align-items-center post">
  <div class="row post-box">
    <%= form_with(model: @page, local: true) do |form| %>
      <div class="post-box__title">
        アフターコロナで <br>やりたいことは何ですか？
      </div>
      <div class="post-box__text mx-auto text-center" >
        <%= form.text_area :content, placeholder: "", rows: "6" %>
        <%= form.submit "ポスト", class:"btn btn-secondary sb-btn" %>
        <%= link_to '戻る', root_path, class:"btn btn-secondary sb-btn" %>
      </div>
    <% end %>
  </div>
</div>