<div class="container successbox align-items-center">
  <div class="row successbox__msg">
    <div class="text-center">
      <p class="successbox__msg__text">
        Updated
      </p>
      <%= link_to '戻る', users_admins_path, class:"btn btn-secondary sb-btn" %>
    </div>
  </div>
</div>