.session {
  padding-top: 80px;
  height: 100vh;
  font-family: var(--M-PLUS-1-p);
}

.notification {
  .notice {
    background-color: black;
    color: $white;
    text-align: center;
    height: 20px;
  }

  .alert {
    background-color: lightsalmon;
    color: $white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
  }
}

.admin-form {
  border: 1px solid gray;
  border-radius: 0.67em;
  padding: 0.5em;

}

@media screen and (min-width:800px){
div.container.session {
  padding-top: 100px;
}
  }
