// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root{
  --light-gray: #2b3032a1;
  --border:#2b303218;
  --text-color:#ff686b;
  --primary-color:#1a2224;
  --solway: "Solway", serif;
  --Arvo: "Arvo", serif;
--Noto-Serif-JP: "Noto Serif JP", serif;
--M-PLUS-1-p: "M PLUS 1p", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  margin-top: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  z-index: 1;
  display: flex;
  text-align: center;
  font-family: var(--M-PLUS-1-p);
  .form-inline {
    width: 35%;
    display: flex;
    text-align: center;
  }
    .search-input {
      width: 65%;
    }
  &__sh {
    i.fa-search {
      text-decoration: none;
      color: white;
      font-size: 25px;
      margin-left: 10px;
      &:hover{
        color: gray;
      }
    }
  }
 }

 a.top {
  text-decoration: none;
  color: white;
  font-size: 23px;
  &:hover {
    color: gray;
  }
}

 .masthead {
  background: image-url('main_img');
  background-position: center;
  height: 100vh;
  background-size:cover;
  color: white;
  padding-top: 90px;
  overflow: scroll;
  font-family: var(--M-PLUS-1-p);
  &__content {
    height: auto;
    .title{
      margin-top: 15%;
      font-family: var(--M-PLUS-1-p);
    }
    .mcb {
      height: 100px;
      width: 70%;
      line-height: 90px;
      font-size: 25px;
      border-radius: 30px;
    }
  }
  .start-btn {
    margin-top: 15%;
    margin-bottom: 7%;
  }
}

@media screen and (max-width:320px){
  a.top {
    font-size: 20px;
  }
  h2.title {
    font-size: 22px;
  }
  i.fas.fa-search {
    font-size: 20px;
  }
  div.view__box {
    margin: 60px 8px 5px 8px;
    width: 120px;
    padding: 0.6em;
    &__content p {
      font-size: 15px;
    }
  }
}

@media screen and (min-width:370px) and (max-width:420px){
  h2.title {
    font-size: 22px;
  }

  div.view__box {
    margin: 50px 8px 5px 8px;
    width: 130px;
    padding: 0.4em;
    &__content p {
      font-size: 18px;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width:430px) and (max-width:799px){
  h2.title {
    font-size: 35px;
  }
  div.post-box__title {
    font-size: 32px;
  }
}

@media screen and (min-width:800px){
  h2.title {
    font-size: 50px;
    margin-top: 100px;
  }
  .masthead {
    padding-top: 150px;
  }
  a.top {
    font-size: 50px;
    margin-left: 50px;
  }
  i.fas.fa-search {
    font-size: 45px;
    margin-left: 40px;
  }
  a.btn.btn-secondary.mcb {
    font-size: 40px;
  }
  div.post-box__title {
    font-size: 40px;
  }
  div.view__box {
    margin: 100px 20px 10px 20px;
    width: 250px;
    padding: 0.6em;
    &__content p {
      font-size: 30px;
    }
  }
  div.error {
    font-size: 50px;
  }
  textarea#page_content {
    font-size: 40px;
  }
  }

.search-hd {
  margin-top: 100px;
}

.view {
  height: 100vh;
  text-align: center;
  overflow: auto;
  background: image-url('sky');
  background-position: center;
  background-size:cover;
  color: rgb(57, 57, 75);
  &__box {
    display: inline-flex;
    margin: 80px 8px 5px 8px;
    width: 140px;
    position: relative;
    padding: 0.6em;
    border-radius: 30px;
    background-color: rgba(231, 236, 240, 0.568);
    &__content {
      margin-top: 20px;
      font-size: 20px;
    }
    &__btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.admbtn {
  background-color: gray;
  margin: 0px 0px 0px 10px;
  border-radius: 30px;
}
a.adm {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.post {
  background: image-url('post');
  background-position: center;
  background-size:cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}
.post-box {
  width: 100%;
  height: 100vh;
  padding: 3px;
  margin: 5px;
  padding-top: 5%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    margin: 30px 10px 5px 10px;
    font-size: 20px;
    color: black;
    text-align: center;
  }
  &__text {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.sb-btn {
  height: 60px;
  width: 70%;
  line-height: 50px;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}


textarea {
  width: 70vw;
  height: 30vh;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  margin-bottom: 20px;
}

.successbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  &__msg {
    &__text{
      margin: 30px;
      font-size: 70px;
    }
    &__btn {
      height: 100px;
      width: 200px;
      line-height: 90px;
      border-radius: 30px;
      font-size: 30px;
    }
  }
}

.error {
  margin-top: 30%;
  font-size: 20px;
}

//paginate start
.pagination {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
a.page-link {
  border: none;
  color: white;
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50px !important;
}
.pagination .active a.page-link {
  background: gray;
  border-radius: 50px;
  border: none;
}
.pagination li a.page-link:hover {
  border-radius: 50px;
  color: white;
}
//paginate end

// //top btn
// #page-top {
//   position: fixed;
//   top: 50%;
//   right: 20px;
//   font-size: 77%;
// }
// #page-top a {
//   background-color: rgba(0,0,0,0.5);
//   text-decoration: none;
//   color: #fff;
//   width: 60px;
//   padding: 20px 0;
//   text-align: center;
//   display: block;
//   border-radius: 50px;
// }
// #page-top a:hover {
//   text-decoration: none;
//   background-color: rgba(0, 0, 0, 0.185);
// }
// //top btnend

.footer {
  background-color: gray;
  color: white;
  text-align: center;
  line-height: 40px;
  height: 40px;
  bottom: 0;
  font-family: var(--M-PLUS-1-p);
  a.sign {
    font-size: 10px;
    color: white;
    line-height: 40px;
  }
}